/* Structure */
table {
    width: 100%;
  }
  .mat-form-field{
    width: 100%;
  }
  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }
  .mat-paginator{
    margin-top: 16px;
  }
  .mat-table {
    background: #fff;
    border-radius: 21px;
    padding: 11px;
}
.card-header{
  padding: 1rem 1.5rem;
}

.table-responsive{
    padding: 0rem 2rem 2rem 2rem;
    th, td{
        padding: 1.125rem;
        text-align: center;
        vertical-align: middle;
    }
}
th.mat-header-cell, td.mat-cell, td.mat-footer-cell{
  font-size: medium;
}
