.mask {
    position: fixed;
    height: 300px;
}
.display-2{
    font-size: 1.8rem;
    font-family: sans-serif;
}
.navbar-search-light .focused .input-group {
    border-color: #f5365c !important;
}
mat-form-field {
    width: 100%;
}