<div class="user-home-wrapper">
    <div class="header pb-8 pt-8 pt-lg-8 d-flex align-items-center"
  style="background-size: cover; background-position: center top;">
  <!-- Mask -->
  <span class="mask bg-gradient-danger opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row" style="width: 100%;">
      <div class="col-12 text-center">
        <h1 class="display-2 text-white">Purity Smart Services</h1>
        <h3 class="text-white">Professional Home Services – your one-stop solution for all your home maintenance and repair needs!</h3>
        <!-- <a href="#!" class="btn btn-info">Edit profile</a> -->
      </div>
    </div>
  </div>
</div>
    <div class="header pb-8">
        <div class="container-fluid">
            <div class="mt--7">
                <div class="card shadow">
                    <div class="card-header bg-transparent">
                      <div class="row align-items-center">
                        <div class="col">
                          <h6 class="text-uppercase text-muted ls-1 mb-1">What service do you need? </h6>
                          <h2 class="mb-0">Search any service</h2>
                        </div>
                      </div>
                    </div>
                    <div class="card-body">
                        <form class="navbar-search navbar-search-light form-inline mr-3 d-md-flex ml-lg-auto">
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Search</mat-label>
                                <mat-icon matPrefix>search</mat-icon>
                                <input type="text"
                                       matInput
                                       [formControl]="myControl"
                                       [matAutocomplete]="auto">
                                <mat-autocomplete #auto="matAutocomplete">
                                  <mat-option *ngFor="let option of filteredOptions | async" [value]="option" (click)="getServiceDetails(option)">
                                    {{option.name}}
                                  </mat-option>
                                </mat-autocomplete>
                              </mat-form-field>
                          </form>
                    </div>
                </div>
            </div>
            
          <div class="header-body pt-5">
            <div class="card shadow bg-secondary">
                <div class="card-header bg-white">
                  <div class="row align-items-center">
                    <div class="col">
                      <h6 class="text-uppercase text-muted ls-1 mb-1">Choose your service</h6>
                      <h2 class="mb-0">All Services</h2>
                    </div>
                  </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-xl-3 col-lg-4 col-md-4 pb-4" *ngFor="let service of servicesList ; let sindex = index" (click)="getServiceDetails(service)">
                            <app-service-card-widget [service]="service"></app-service-card-widget>
                          </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>
</div>