.mask {
    position: fixed;
    height: 400px;
}
.display-2{
    font-size: 2rem;
    font-family: sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}
.navbar-search-light .focused .input-group {
    border-color: #f5365c !important;
}
mat-form-field {
    width: 100%;
}
mat-option {
    span {
        padding-left: 10px;
    }
    img {
        width: 55px;
    }
}